html, body, * {
  margin: 0 auto;
}

.x_btn{
  margin-top: 20px;
border: 0;
border-radius: 30px;
width: 130px;
height: 60px;
font-weight: 600;
background: lightgray
}

#background {
  padding: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  background: rgb(127,127,127);
  background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(43,43,43,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(43,43,43,1) 100%);
  background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(43,43,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#2b2b2b',GradientType=0 );
}

#clickbtn {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  color: white;
  background-color: #444444;
  font-size: 45px;
  font-family: verdana;
  box-shadow: 0px 0px 6px #444;
  border: 1px solid black;
  margin-top: 20vh;
}

#clickbtn:hover {
  background-color: #222222;
  box-shadow: 0px 0px 11px #00ddff;
}

#score {
  font-size: 40px;
  font-family: verdana;
  color: white;
  position: absolute;
  bottom: 0;
  left: 25%;
}
